<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Приглашение на бета-тест SightQuest</title>
    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
      table {
        border-spacing: 0;
      }
      img {
        border: none;
      }
      .content {
        max-width: 600px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#f4f4f4"
    >
      <tr>
        <td align="center" valign="top" style="padding: 20px">
          <table
            class="content"
            bgcolor="#FFFFFF"
            cellpadding="0"
            cellspacing="0"
            border="0"
          >
            <!-- Header -->
            <tr>
              <td
                bgcolor="#505050"
                style="
                  color: #d8fd99;
                  padding: 20px;
                  text-align: center;
                  font-family: Arial, sans-serif;
                  font-size: 24px;
                  font-weight: bold;
                "
              >
                Добро пожаловать в SightQuest!
              </td>
            </tr>

            <!-- Image -->
            <tr>
              <td align="center" style="padding: 20px">
                <img
                  src="https://i.imgur.com/tFuwuS6.png"
                  alt=""
                  width="100"
                  height="100"
                  style="display: block"
                />
              </td>
            </tr>

            <!-- Text -->
            <tr>
              <td
                style="
                  padding: 20px;
                  text-align: center;
                  font-family: Arial, sans-serif;
                  color: #000000;
                "
              >
                <p>
                  Мы уведомим вас, когда появится доступ к закрытому бета
                  тестированию.
                </p>
              </td>
            </tr>

            <!-- Footer -->
            <tr>
              <td
                bgcolor="#d2d2d2"
                style="
                  padding: 20px;
                  text-align: center;
                  font-family: Arial, sans-serif;
                  font-size: 14px;
                  color: #000000;
                "
              >
                <p>
                  Наш канал:
                  <a
                    href="https://t.me/shampiniony"
                    style="
                      color: #007bff;
                      text-decoration: none;
                      font-weight: bold;
                    "
                    >https://t.me/shampiniony</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
